<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet/style.css">
  <title>Scott Jurek | About</title>
</head>
<body>
  <nav id="container">
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/about">About</a> </li>
      <li> <a href="/books">Books</a> </li>
    </ul>
  </nav>

  <h1>About Scott Jurek</h1>

  <p> Named one of the greatest runners of all time, Scott Jurek has become a living legend.  He has claimed victories in nearly all of ultrarunning’s elite trail and road events including the historic 153-mile Spartathlon, the Hardrock 100, the Badwater 135-Mile Ultramarathon, and—his signature race—the Western States 100-Mile Endurance Run, which he won a record seven straight times. Scott has also taken the running world by storm with his 2015 Appalachian Trail speed record, averaging nearly 50 miles a day over 46 days—and the United States all-surface record in the 24-Hour Run with 165.7 miles: 6.5 marathons in one day. </p>

  <div>
    <img src="images/conArnulfo.jpg" width="300" height="300" alt="arnulfo">
    <img src="images/scott.jpg" width="300" height="300" alt="scott">
  </div>

</body>
</html>