<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheet/style.css">
  <title>Scott Jurek | Works</title>
</head>
<body>

  <nav id="container">
    <ul>
      <li> <a href="/">Home</a> </li>
      <li> <a href="/about">About</a> </li>
      <li> <a href="/books">Books</a> </li>
    </ul>
  </nav>

  <h1>Scott Jurek's Books</h1>

  <h3>Eat & Run</h3>
  <p>In Eat & Run, Scott opens up about his life and career — as an elite athlete and a vegan — and inspires runners at every level. From his Midwestern childhood of hunting, fishing, and cooking for his meat-and-potatoes family, to his early beginnings in running (he hated it), to his slow transition to ultrarunning and veganism, to his incredible, world-spanning, record-breaking races — Scott’s story shows the power of an iron will and the importance of thinking of our food as our fuel.

    <br><br>
  
    Chock full of incredible, on-the-brink stories of endurance and competition, as well as fascinating science and accessible practical advice — including his own favorite plant based recipes, Eat & Run will motivate everyone to “go the distance” whether that means getting out for that first run, expanding your food horizons, or simply exploring the limits of your own potential.
  </p>

  <img src="images/book1.jpg" width="300" height="400" alt="">

  <br><br>

  <h3>North</h3>
  <p>After two decades of racing, training, speaking, and touring, Scott felt an urgent need to discover something new about himself. He embarked on a wholly unique challenge, one that would force him to grow as a person and as an athlete: breaking the speed record for the Appalachian Trail. North is the story of the 2,189-mile journey that nearly shattered him.

    <br><br>

    When he set out in the spring of 2015, Scott anticipated punishing terrain, forbidding weather, and inevitable injuries. He would have to run nearly 50 miles a day, every day, for almost seven weeks. He knew he would be pushing himself to the limit, that comfort and rest would be in short supply—but he couldn't have imagined the physical and emotional toll the trip would exact, nor the rewards it would offer.</p>

    <img src="images/book2.jpg" alt="">
</body>
</html>